.itemimage{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.ItemContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemdescription, .itemtitle, .itemtranslator{
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #ecf9fb;

}

.itemtitle{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.ItemContainerInfo {
    display: flex;
    background-color: #26292f;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 864px;
    align-items: flex-start;
}

.ItemImageContainer{
    margin-right: 15px;
}

.ItemTextContainer {
    gap: 5px;
    display: flex;
    flex-direction: column;
}